; begin auth token
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/registry/:username=TuteriaHQ
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/registry/:_password=ejZyeHdwdTJnc21jeHE0c2JpdzZrd2k2dWx3bGl6aGY2ZnRobTdkM3NpbnM3M3I2amM1YQ==
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/:username=TuteriaHQ
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/:_password=ejZyeHdwdTJnc21jeHE0c2JpdzZrd2k2dWx3bGl6aGY2ZnRobTdkM3NpbnM3M3I2amM1YQ==
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/registry/ 
                        
always-auth=true