; begin auth token
//pkgs.dev.azure.com/TuteriaTest/_packaging/TuteriaTest/npm/registry/:username=TuteriaTest
//pkgs.dev.azure.com/TuteriaTest/_packaging/TuteriaTest/npm/registry/:_password=YTZxdDZraGFoNmdpeWFzM2JycGk0YTV0dmhtcnhtbmltZjVtNHRneG4zaDQ3ZWI3ZnRjYQ==
//pkgs.dev.azure.com/TuteriaTest/_packaging/TuteriaTest/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/TuteriaTest/_packaging/TuteriaTest/npm/:username=TuteriaTest
//pkgs.dev.azure.com/TuteriaTest/_packaging/TuteriaTest/npm/:_password=YTZxdDZraGFoNmdpeWFzM2JycGk0YTV0dmhtcnhtbmltZjVtNHRneG4zaDQ3ZWI3ZnRjYQ==
//pkgs.dev.azure.com/TuteriaTest/_packaging/TuteriaTest/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

# a6qt6khah6giyas3brpi4a5tvhmrxmnimf5m4tgxn3h47eb7ftca
registry=https://pkgs.dev.azure.com/TuteriaTest/_packaging/TuteriaTest/npm/registry/ 

always-auth=true